UseLocalCutlist=no	#Lokale Cutlists verwenden?
HaltByErrors=no		#Bei Fehlern anhalten?
first=no		#Die erste gefundene Cutlist verwenden?
toprated=no		#Die Cutlist mit der besten User-Bewertung benutzen?
UseAvidemux=yes		#Avidemux verwenden?
ShowAllCutlists=yes	#Auswahl mehrerer Cutlists anzeigen?
tmp="/tmp/otrcut"	#Zu verwendender Tmp-Ordner, in diesem Ordner wird dann noch ein Ordner "otrcut" erstellt.
overwrite=no		#Bereits vorhandene Dateien überschreiben
output=cut		#Ausgabeordner
bewertung=no		#Bewertungsfunktion benutzen
verbose=no		#Ausführliche Ausgabe von avidemux bzw. avisplit/avimerge anzeigen
play=no			#Datei nach dem Schneiden wiedergeben
warn=yes		#Warnung bezüglich der Löschung von $tmp ausgeben
user=otrcut		#Benutzer der zum Bewerten benutzt wird
player=mplayer		#Mit diesem Player wird das Video wiedergegeben sofern $play auf yes steht
decode=no		#Decoder integrieren
smart=yes		#Force-Smart für avidemux verwenden
vidcodec=copy		#Input-Video nur kopieren.
personal=no		#Persönliche URL verwenden?
personalurl=""		#Die persönliche URL von cutlist.at
ad_version=old		#new: Avidemux >=2.5, old: Avidemux <=2.4
copy=no			#Wenn \$toprated=yes, und keine Cutlist gefunden wird, \$film nach \$output kopieren
move=no			#Wenn \$toprated=yes, und keine Cutlist gefunden wird, \$film nach \$output verschieben
search_other=no		#Auch nach Cutlists in einem anderem Formaten suchen (z.b für ein normales Videos auch HQ-Cutlist suchen)

#Sie sind für die Verwendung des Decoders gedacht.
#ACHTUNG: Wenn ihr mir die Ausgabe von "bash -x otrcut.sh [blablablubb] 2>error.txt" schickt,
#öffnet die error.txt davor mit einem Texteditor und sucht nach eurem Passwort und eurer EMail-Adresse. Diese dann einfach dur x's ersetzen.

email="" #Die EMail-Adresse mit der Sie bei OTR registriert sind
password="" #Das Passwort mit dem Sie sich bei OTR einloggen
decoder="otrdecoder" #Pfad zum decoder. Z.B. /home/benutzer/bin/otrdecoder
